# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea
.cache
pkg
bin
.DS_Store

/src/coin_query_bot/coin_query_bot_linux_amd64
/src/coin_query_bot/coin_query_bot
/src/coin_query_bot/redis/
/src/coin_query_bot/conf/conf.toml
/src/coin_query_bot/vendor
